@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);
.header{
    font-family: 'Montserrat', sans-serif;
    
}

.logo{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.logo img{

    max-width: 350px;
    min-width: 250px;
   
}

.navbar{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navigation-bar{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.navbar ul li
{
    align-self: center;
    list-style: none;
    margin-top: -50px;

}

.nav {
    width: 750px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-right: 55px;
}

.nav li a{
    border-radius: 25px;
    transition: 0.3s;
    color: black;
}

.nav li a:hover{
   padding-left: 25px;
   padding-right: 25px;
    color: white;
    background-color: cadetblue !important;
    cursor: pointer;
    border-radius: 25px;
    transition: 0.3s;
}

.responsive-navbar{
  display: none;
}
/**Navbar*/

/**Botões cores*/
.btn.btn-primary {
  background-color: #0097B2;
  border-color: #0097B2;
}

.btn.btn-primary:hover {
  background-color: #2bbad3 !important;
  border-color: #2bbad3 !important;
} 

.btn.btn-primary:focus {
  background-color: #296772 !important; 
  border-color: #296772 !important;
} 

.btn.btn-primary:active {
  background-color: #296772 !important; 
  border-color: #296772 !important;
}
/**Botões cores*/

/**Formulário*/
.form-control {
  display: inline-block;
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Merriwheater', sans-serif;
  font-size: 20px;
  color: #000000;
}

.form-group {
  margin-right: 20px;
  margin-left: 20px;
  font-family: 'Merriwheater', sans-serif;
  font-size: 20px;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 10px;
}
/**Formulário*/


/**Footer*/
.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}
/**Footer*/

/**Adaptação*/

@media screen and (min-width: 901px) and (max-width: 1400px) {
    body{
        
    }
}
@media screen and (min-width: 616px) and (max-width: 900px) {
  .cards-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card {
  border-radius: 16px;
  box-shadow: rgba(223, 233, 231, 0.35) 0px 5px 15px;
  cursor: pointer;
  width: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(#5f9ea0, #66989a);
  transition: all .5s;
  margin-left: 04px;
  margin-top: 15px;
  margin-bottom: 15px;
}
/**Depoimentos*/
.locais-wrap{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.local {
  border: 1px solid #ddd;
  border-radius: 6px;
  max-width: 350px;
  text-align: center;
  margin-top: 60px;
  margin-left: 15px;
  width: 360px;
  margin-bottom: 15px;
}
}
@media screen and (min-width: 240px) and (max-width: 615px) {
  .logo img{
    display: none;
  }
  .navigation-bar{
    display: none;
  }
  .responsive-navbar{
    display: inline;
    
  }
  .nav-responsive li a{
    border-radius: 25px;
    transition: 0.3s;
    color: black;
}
  /**carrosel*/
.slider{
 
  width: 100%;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
}

.slides{
  width: 500%;
  height: 300px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 100%;
  height: 500px;
}

/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  width: 100%;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #40D3DC;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto{
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #40D3DC;
}
      
  
  .cards-wrap{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
  }
  .card {
    border-radius: 16px;
    box-shadow: rgba(223, 233, 231, 0.35) 0px 5px 15px;
    cursor: pointer;
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(#5f9ea0, #66989a);
    transition: all .5s;
    margin-left: 04px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  /**Depoimentos*/
  .locais-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .local {
    border: 1px solid #ddd;
    border-radius: 6px;
    max-width: 350px;
    text-align: center;
    margin-top: 60px;
    margin-left: 15px;
    width: 360px;
    margin-bottom: 15px;
  }
}

p {
    padding: auto;
    margin-left: 5%;
}




/**Adaptação*/
